---
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";

import ContactCTA from "../../components/ContactCTA.astro";
import BlogPreview from "../../components/BlogPreview.astro";
import Hero from "../../components/Hero.astro";
import Grid from "../../components/Grid.astro";

const blogs = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout
  title="My Blogs | Jair Mera"
  description="Learn about Jair Mera's most recent blogs."
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title="My Work"
        tagline="See my most recent blogs below to get an idea of my past experience."
        align="start"
      />
      <Grid variant="offset">
        {
          blogs.map((blog) => (
            <li>
              <BlogPreview blog={blog} />
            </li>
          ))
        }
      </Grid>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
